@import "src/styles/animates";

.FullQuiz {
  z-index: 2;
  margin-top: 2rem;
  width: 100%;
}

.head {
  z-index: 2;
  position: relative;
  display: flex;
}

.title {
  position: relative;
  word-break: break-word;
  color: white;
  text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.8);
  font-size: 2rem;
  font-weight: normal;
  font-family: Nunito, sans-serif;
  letter-spacing: 1px;
  @media (max-width: 600px) {
    font-size: 1.5rem;
  }
  &::before {
    position: absolute;
    top: -5px;
    left: 0;
    text-shadow: none;
    font-size: 12px;
    opacity: .8;
    content: 'Название';
  }
}

.body {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

h2 {
  color: white;
}