$color1: #26d7d1;
$color2: greenyellow;
$color3: #8026d7;
$color4: plum;

@keyframes Background {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

@keyframes HeadColor {
  0% {
    text-shadow: 0 0 1px black;
  }
  25% {
    text-shadow: 3px 3px 5px $color1;
  }
  50% {
    text-shadow: 3px 3px 5px $color2;
  }
  75% {
    text-shadow: 3px 3px 5px $color3;
  }
  100% {
    text-shadow: 0 0 1px black;
  }
}

@keyframes AboutBlock {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes backAnim {
  0% {
    transform: rotate(0deg) translateX(0);
    opacity: 0;
    bottom: 0;
  }
  10% {
  transform: translateX(5px);
    opacity: 1;
  }
  50% {
    transform: rotate(180deg) translateX(35px);
    bottom: 110%;
  }
  70% {
    transform: translateX(10px);
  }
  100% {
    bottom: 0;
    transform: rotate(360deg) translateX(-20px);
  }
}