$color1: #26d7d1;
$color2: greenyellow;
$color3: #8026d7;
$color4: plum;

@keyframes Background {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

@keyframes HeadColor {
  0% {
    text-shadow: 0 0 1px black;
  }
  25% {
    text-shadow: 3px 3px 5px $color1;
  }
  50% {
    text-shadow: 3px 3px 5px $color2;
  }
  75% {
    text-shadow: 3px 3px 5px $color3;
  }
  100% {
    text-shadow: 0 0 1px black;
  }
}

@keyframes AboutBlock {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}