@import "src/styles/colors";
.about {
  right: 0;
  top: 0;
}

.description {
  user-select: none;
  width: 500px;
  position: absolute;
  transition: all 0.3s;
  animation: AboutBlock .2s ease-in-out;
  padding: 1rem;
  background-color: $color-light1;
  z-index: 13;
  right: 1rem;
  bottom: 1rem;
  font-size: .9rem;
  font-family: Arial, sans-serif;
  text-align: left;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  hr {
    margin: .5rem 0;
  }
}

