@import "../../styles/animates";

.head {
  font-family: "Nunito", sans-serif;
  font-size: 100px;
  letter-spacing: 10px;
  animation: HeadColor 10s ease-in infinite;
}

.menu {
  display: flex;
  flex-direction: column;
}

.menu_elem {
  color: black;
  text-decoration: none;
  border: 2px solid black;
  transition: background-color 0.5s;
  font-size: 24px;
  margin: .5rem 0;
  font-family: "Nunito", sans-serif;
  text-transform: uppercase;
  padding: 1rem 10rem;
  outline: none;
  cursor: pointer;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.5), transparent);

  &:active {
    transform: scale(.95);
  }

  &:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
  }

  &:nth-child(1):hover {
    background: rgba(0, 0, 0, 0.5);
    color: $color1;
    border: 2px solid $color1;
  }
  &:nth-child(2):hover {
    background: rgba(0, 0, 0, 0.5);
    color: $color2;
    border: 2px solid $color2;
  }
  &:nth-child(3):hover {
    background: rgba(0, 0, 0, 0.5);
    color: $color3;
    border: 2px solid $color3;
  }
  &:nth-child(4):hover {
    background: rgba(0, 0, 0, 0.5);
    color: $color4;
    border: 2px solid $color4;
  }
}