@import "../../styles/animates";
@import "../../styles/colors";
.head {
  z-index: 2;
  font-family: "Nunito", sans-serif;
  font-size: 6.25rem;
  margin-bottom: 1rem;
  @media (max-width: 600px) {
    font-size: 3.5rem;
    margin-bottom: 1rem;
  }
  letter-spacing: 10px;
  animation: HeadColor 7s ease-in-out infinite;
  color: $color-light1
}

.menu {
  background-color: inherit;
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.menu_elem {
  user-select: none;
  color: white;
  text-decoration: none;
  border-top: 2px solid $color-light1;
  border-left: 2px solid $color-light1;
  border-bottom: 3px inset $color-dark3;
  border-right: 3px inset $color-dark3;
  transform: translate(-2px, -3px);
  box-shadow: 5px 5px 1px rgba(0, 0, 0, 0.5);
  transition: all 0.3s;
  font-size: 24px;
  margin: .5rem 0;
  font-family: "Nunito", sans-serif;
  text-transform: uppercase;
  padding: 1rem 10rem;
  text-align: center;
  outline: none;
  cursor: pointer;
  @media (max-width: 600px) {
    padding: 1rem 3rem;
  }
  &:active {
    box-shadow: 0 0 0!important;
    transform: translate(0,0);
  }
  &:hover {
    box-shadow: 5px 5px 1px rgba(0, 0, 0, 0.7);
  }
  &:nth-child(1) {
    color: $color-light4;
    border-top: 2px solid $color-light4-up;
    border-left: 2px solid $color-light4-up;
    border-bottom: 3px inset $color-light4-down;
    border-right: 3px inset $color-light4;
  }
  &:nth-child(1):hover {
    background: rgba(0, 0, 0, 0.5);
    color: $color1;
    border-top: 2px solid $color1;
    border-left: 2px solid $color1;
    border-bottom: 3px inset $color1;
    border-right: 3px inset $color1;
  }
  &:nth-child(2):hover {
    background: rgba(0, 0, 0, 0.5);
    color: $color2;
    border-top: 2px solid $color2;
    border-left: 2px solid $color2;
    border-bottom: 3px inset $color2;
    border-right: 3px inset $color2;
  }
  &:nth-child(3):hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: $color4;
    border-top: 2px solid $color4;
    border-left: 2px solid $color4;
    border-bottom: 3px inset $color4;
    border-right: 3px inset $color4;
  }
  &:nth-child(4):hover {
    background: rgba(0, 0, 0, 0.5);
    color: $color3;
    border-top: 2px solid $color3;
    border-left: 2px solid $color3;
    border-bottom: 3px inset $color3;
    border-right: 3px inset $color3;
  }
}