@import "src/styles/colors";

.status {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    width: 20px;
    height: 20px;
    padding: 1px;
    fill: white;
  }
}

.correct {
  height: 80%;
  background-color: $color-success;
  border-top: 3px inset $color-success-down;
  border-left: 3px inset $color-success-down;
  border-right: 4px inset $color-success-up;
  border-bottom: 4px inset $color-success-up;
}

.wrong {
  height: 80%;
  background-color: $color-error;
  border-top: 3px inset $color-error-down;
  border-left: 3px inset $color-error-down;
  border-right: 4px inset $color-error-up;
  border-bottom: 4px inset $color-error-up;
}

.correct, .wrong {
  //margin-right: 1rem;
}