@import "src/styles/colors";

.listElem {
  position: relative;
  margin: .5rem 0;
  border-top: 2px solid $color-dark2-up;
  border-left: 2px solid $color-dark2-up;
  border-right: 4px inset $color-dark2-down;
  border-bottom: 4px inset $color-dark2-down;
  background-color: $color-dark3;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: white;
  text-shadow: 1px 1px 1px black;
  transition: all 0.3s;
  &:hover {
    box-shadow: 3px 3px 1px rgba(0, 0, 0, .3);
    transform: translate(-2px, -2px);
  }
  & > div {
    margin: .3rem 0;
    flex: 1;
  }
  @media (max-width: 600px) {
    & > div {
      flex: none;
    }
    .title {
      width: 100%;
    }
  }
}

.title {
  word-wrap: anywhere;
}

.id {
  position: absolute;
  top: 0;
  left: 10px;
  font-size: .5em;
  opacity: .3;
}

.nickname {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: .5em;
  opacity: .3;
}

.date {
  font-size: .7em;
  text-align: end;
}

.score {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-light4;
  img {
    margin-right: 5px;
    width: 25px;
    height: 25px;
  }
}
