@import "src/styles/colors";
.answer {
  background-color: $color-dark1;
  border-top: 2px solid $color-dark1-up;
  border-left: 2px solid $color-dark1-up;
  border-right: 3px inset $color-dark1-down;
  border-bottom: 3px inset $color-dark1-down;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  margin: .5rem 0;
  user-select: none;
  cursor: pointer;
  transition: all 0.2s;
  //box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  &:hover {
    $color: #393844;
    border-top: 2px solid $color;
    border-left: 2px solid $color;
    border-right: 3px inset $color;
    border-bottom: 3px inset $color;
    transform: translate(-2px, -1px);
    box-shadow: 2px 3px 1px rgba(0, 0, 0, 0.2);
  }

  &:active {
    transform: translate(0,0);
    box-shadow: 2px 3px 1px rgba(0, 0, 0, 0);
  }
}

.text {
  display: flex;
  color: white;
  padding: .5rem 1rem;
  height: 100%;
  font-size: 1.2rem;
  text-shadow: 2px 1px 1px black;
  align-items: center;

}

.title {
  margin-left: 1rem;
}

.index {
  font-size: .5rem;
}

.correct {
  margin-right: .2rem;
  width: 40px;
  display: none;
  justify-content: center;
  align-items: center;
}

.show {
  display: flex;
}